<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header-admin') %>

    <section class="admin-produtos">
        <h2 class="titulo">Deletar Produtos</h2>

        <a href="/admin/produtos/inserir" class="link">Inserir Produto</a>

        <% for(let produto of produtos){ %>
            <div>
                <img src="/assets/<%= produto.imagem %>" alt="">
                <h3><%= produto.produto %></h3>
                <h3>Quantidade: <%= produto.quantidade %></h3>
    
                <form method="POST" action="/admin/produtos/<%= produto._id %>">
                    <button>Deletar Produto</button>
                </form>
                    
                    <hr>    
            </div>
            
        <% } %>
    
    </section>
</body>
</html>